body {
  padding: 0 30px 0 30px;
}

button {
  font-size: 16px;
  padding: 8px;
}

#redButton{
  background-color: pink;
}
#greenButton{
  background-color: lightgreen;
}
#blueButton{
  background-color: lightblue;
}

table, th, td {
  border: 1px solid black;
}

table {
  margin-top: 15px; 
}
